---
layout: default
title: Jeff Anders
---

<!-- Teams Section -->

<section data-section-id="team" class="animated-section section-teams">
	<div class="section-header">
		<a id="teams" href="/#teams"><h2 class="section-title">Teams</h2></a>
		<button data-group="teams" class="button-more button-link text-button initially-hidden-teams">More</button>
	</div>
	<ul class="card-grid card-grid-compact card-grid-compact-medium">
  		{% for team in site.data.teams %}
			<li class="compact-card compact-card-medium card-item-category-team {% if forloop.index > 2 %} initially-hidden-teams hidden{% endif %}">
				<a href="{{ team.link }}">
					{% capture teamname %}{{ team.company }}{% endcapture %}
					{% capture teamiconpath %}{{ team.image }}{% endcapture %}
					{% include pic.html param="square" file=teamiconpath alt=teamname %}
					<h3>{{ team.company }}</h3>
					<p class="card-secondary{% if team.active %} team-active{% endif %}">{{ team.role }}</p>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>

<hr>

<!-- Projects Section -->

<section data-section-id="project" class="animated-section section-projects">
	<a id="projects" href="/#projects"><h2 class="section-title">Projects</h2></a>
	<ul class="card-grid">
		{% for post in site.categories.project %}
			<li class="card-item card-item-category-{{ post.category }} {% if forloop.index > 12 %} initially-hidden-projects hidden{% endif %}">
				{% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank"{% endif %}>{% endunless %}
				<div class="card-image">
					{% capture postname %}{{ post.title }}{% endcapture %}
					{% capture thumbnailpath %}{{ post.url }}{{ post.thumbnail }}{% endcapture %}
					{% include pic.html file=thumbnailpath alt=postname params="8:5" %}
				</div>
				<div class="card-info">
					<h3><span class="post-title">{{ post.title }}</span><span class="card-brief">&ensp;–&ensp;{{ post.brief }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
				</div>
				{% unless post.still == true %}</a>{% endunless %}
			</li>
		{% endfor %}
	</ul>
	<button data-group="projects" class="button-more button-link initially-hidden-projects">More Projects</button>
</section>

<hr>

<!-- Talks Section -->

<section data-section-id="talk" class="animated-section section-talks">
	<a id="talks" href="/#talks"><h2 class="section-title">Talks</h2></a>
	<ul class="card-grid">
		{% for post in site.categories.talk %}
			<li class="card-item card-item-category-{{ post.category }} {% if forloop.index > 4 %} initially-hidden-talks hidden{% endif %}">
				{% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank"{% endif %}>{% endunless %}
					<div class="card-image">
						{% capture postname %}{{ post.title }}{% endcapture %}
						{% capture thumbnailpath %}{{ post.url }}{{ post.thumbnail }}{% endcapture %}
						{% include pic.html file=thumbnailpath alt=postname %}
					</div>

					<div class="card-info">
						<h3 class="post-title">{{ post.title }}</h3>
						<h3 class="card-brief">{{ post.brief }}{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
					</div>
				{% unless post.still == true %}</a>{% endunless %}
			</li>
		{% endfor %}
	</ul>
	<button data-group="talks" class="button-more button-link initially-hidden-talks">More Talks</button>
</section>

<hr>

<!-- Writing Section -->

{% comment %} <section data-section-id="article" class="animated-section section-writing">
	<a id="writing" href="/#writing"><h2 class="section-title">Writing</h2></a>
	<ul class="two-column">
		{% for post in site.categories.article %}
			{% include card-item.html %}
		{% endfor %}
	</ul>
</section>

<hr> {% endcomment %}

<!-- Lists Section -->

<section data-section-id="list" class="animated-section section-lists">
	<a id="lists" href="/#lists" ><h2 class="section-title">Lists</h2></a>
	<ul class="card-grid card-grid-compact">
	    {% assign sortedlists = site.categories.list | sort: 'title' %}
    	{% for post in sortedlists %}
			<li class="compact-card"><a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank"{% endif %} >{% include icons/{{ post.thumbnail }}.html %}<h3>{{ post.title }}</h3></a></li>
		{% endfor %}
	</ul>
</section>

<hr>

<!-- About & Contact Sections -->

<section data-section-id="about" class="animated-section section-about">
	<a id="about" href="/#about"><h2 class="section-title">About</h2></a>
	<figure class="about-me">
		{% include_cached pic.html file="jeff-canyon.jpeg" alt="Jeff in a canyon" class="corner-round" %}
		<figcaption>
			<p>Hi, I'm Jeff Anders! I live in Denver, Colorado with my wife Emily and daughter Nellie. You may have known me by my last last name, Hilnbrand.</p>
			<p>I'm currently building <a href="https://ambrook.com?ref=jeffanders.co?ref=jeffanders.co">Ambrook</a> as co-founder and design leader. Talk to me about climate, fintech, architecture, roller coasters, cartography, energy, photography, and travel.</p>
			<p>Welcome to my website and portfolio. Explore these works and reach out if you'd like to connect!</p>
		</figcaption>
	</figure>

	<div class="section-contact">
		<a id="contact" href="/#contact" class="invisitble"></a>
		<ul class="card-grid card-grid-compact contact-grid">
			{% for contact in site.data.contacts %}
				<li class="compact-card {% if contact.dark contains "true" %}dark-contact{% endif %}">
					<a href="{{ contact.link }}">{% include_cached icons/{{ contact.icon }}.html %}
						<h3>{{ contact.name }}</h3>
						<p class="card-secondary">{{ contact.handle }}</p>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<hr>

<!-- Footer -->

{% include footer.html %}

<!-- Javascript -->

<script type="text/javascript" src="/js/hidden.js"></script>
