<aside class="sidebar wrapper">

	<header class="mobile-nav-row">
		<a href="/" class="sidebar-title">
			<img class="sidebar-avatar" src="/img/jeffanders-small.jpg" alt="Jeff Anders avatar">			<h1 class="sidebar-name" href="/">Jeff Anders</h1>
		</a>
		<menu class="sidebar-social tablet-mobile-only">
  			{% include social.html %}
		</menu>
	</header>

	<nav class="section-nav hide-tablet">
		<ul>
			<li class="active-tab"><a class="nav-team" href="/#teams">Teams<span ></span></a></li>
			<li><a class="nav-project" href="/#projects">Projects<span class="active-tab"></span></a></li>
			<li><a class="nav-talk" href="/#talks">Talks<span class="active-tab"></span></a></li>
			{% comment %} <li><a class="nav-article" href="/#writing">Writing<span class="active-tab"></span></a></li> {% endcomment %}
			<li><a class="nav-list" href="/#lists">Lists<span class="active-tab"></span></a></li>
			<li><a class="nav-about" href="/#about">About<span class="active-tab"></span></a></li>
		</ul>
	</nav>

	<menu class="sidebar-social hide-tablet">
  		{% include social.html %}
	</menu>

</aside>
