{% assign filetype = include.file | slice: -3,3 %}

{% if filetype contains "svg" or filetype contains "gif" %}

{% if page.layout == 'post' %}
<picture><img src="/img/{{ page.url | slugify }}/{{ include.file }}" alt="{{ include.alt }}" class="{{ include.class }}"></picture>

{% else %}
<picture><img src="/img/{{ include.file }}" alt="{{ include.alt }}" class="{{ include.class }}"></picture>
{% endif %}

{% else %}

{% if page.layout == 'post' %}
{% picture {{ include.preset }} "{{ page.url | slugify }}/{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}

{% else %}
{% picture {{ include.preset }} "{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}

{% endif %}

{% endif %}
