{% assign filetype = include.file | slice: -3,3 %}
{% if filetype contains "svg" %}
	<picture><img {% if page.layout == 'post' %} src="/img/{{ page.url | slugify }}/{{ include.file }}" {% else %} src="/img/{{ include.file }}" {% endif %} alt="{{ include.alt }}" class="{{ include.class }}"></picture>
{% else %}
{% if page.layout == 'post' %}
	{% picture "{{ page.url | slugify }}/{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}
{% else %}
	{% picture "{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}
{% endif %}
{% endif %}
