article {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.tight {
	max-width: 39rem;
	margin-left: auto;
	margin-right: auto;
}

.article-intro {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 3rem;
	justify-content: space-between;
	align-items: center;
	color: var(--dark-gray);
	.button-link {
		grid-column: 5 / 7;
		justify-content: space-between;	
	}
	@media screen and (max-width: $tablet-portrait-max) {
		display: flex;
		flex-direction: column;
		align-items: normal;
	}
}

.article-intro-bottom {
	@media screen and (min-width: $tablet-landscape-min) {
		align-items: end;
	}
}

.article-metadata {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	grid-column: 1 / 5;
	max-width: 39rem;
	transition: $t;
	a {
		font-variation-settings: 'wght' 450;
		@extend .underline;
		transition: $t;
		&:hover {
			color: var(--medium-gray);
			transition: $t;
		}
	}
	&:hover {
		color: var(--black);
		transition: $t;
	}
}

.article-body {
	:first-child {
		margin-top: 0;
	}
	p {
		margin-bottom: 1rem;
		max-width: 39rem;
	}
	
	a {
		@extend .underline;
		&:hover {
			color: var(--dark-gray);
		}
	}

	picture, img {
		width: 100%;
		display: block;
		cursor: crosshair;
	}

	picture {
		border-radius: $corner-radius;
		margin: 3rem 0;
		overflow: hidden;
	}
	
	h2 {
		max-width: 39rem;
		margin: 6rem 0 3rem;
	}
	h3 {
		max-width: 39rem;
		margin: 1rem 0;
	}
	blockquote p {
		padding: 0.25rem 0 0.25rem 2rem;
		border-left: 4px var(--light-gray) solid;
		margin: 1.5rem 0;
		color: var(--dark-gray);
	}
	em {
		font-style: italic;
	}
	ul {
		margin-bottom: 1.5rem;
		li {
			@extend .p;
			display: list-item;
			list-style-type: disc;
			margin-bottom: 1rem;
			margin-left: 1.5rem;
			padding-left: 1rem;
		}
		ul {
			margin: 1rem 0;
		}
	}
	.card-grid {
		margin: 3rem 0;
	}
}

.post-talk .article-body {
	padding: 0 0;

}

ul.article-list {
	margin-bottom: 3rem;
	h3 {
		margin: 0;
	}
}

.embed {
	max-width: 100%;
	vertical-align: middle;
	clear: both;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin: 6rem 0;
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.article-columns {
	display: grid;
	gap: 3rem;
	margin: 3rem 0;
	& > picture {
		margin: 0;
	}
}

.two-column {
	@extend .article-columns;
	grid-template-columns: 1fr 1fr;
	@media screen and (max-width: $tablet-portrait-max) {
		grid-template-columns: 1fr;
	}
}

.three-column {
	@extend .article-columns;
	grid-template-columns: 1fr 1fr 1fr;
}

.article-columns-masonry {
	gap: 3rem;
	margin: 3rem 0;
	> *, > picture {
		margin: 3rem 0;
	}
}

.two-column-masonry {
	@extend .article-columns-masonry;
	columns: 2;
}

.three-column-masonry {
	@extend .article-columns-masonry;
	columns: 3;
}
