$content-width: 81rem;

$t: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease,
	box-shadow 0.5s ease, opacity 0.5s ease, transform 0.5s ease,
	border-bottom 0.5s ease, font-variation-settings 0.5s ease;

$t-fast: color 0.25s ease, fill 0.25s ease, background-color 0.25s ease,
	box-shadow 0.25s ease, opacity 0.25s ease, transform 0.25s ease,
	border-bottom 0.25s ease, font-variation-settings 0.25s ease;  

@keyframes animate-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate-slideup {
	from {
		transform: translateY(1rem);
	}
	to {
		transform: translateY(0);
	}
}

.animate-fadein {
	animation-duration: 1s;
	animation-name: animate-fadein;
	animation-fill-mode: backwards;
	animation-delay: 0.25s;
	animation-timing-function: ease;
}

.animate-slideup {
	animation-duration: 1s;
	animation-name: animate-slideup;
	animation-fill-mode: backwards;
	animation-delay: 0.25s;
	animation-timing-function: ease;
}

.animate-together {
	@extend .animate-fadein;
	animation-name: animate-fadein, animate-slideup;
}

$corner-radius: 0.25rem;

$sidebar-width: 18rem;

$limit-teams: 6;
$limit-projects: 24;
$limit-talks: 6;

html {
	height: 100%;
	padding: 0;
	margin: 0;
	scroll-padding-top: 3rem;
}

body {
	background: var(--white);
	height: 100%;
	color: var(--black);
	font-family: $sans;
	font-size: 16px;
	font-weight: $regular;
	font-variation-settings: "wght" 450;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	@extend .animate-fadein;
}

.container {
	display: flex;
	@media screen and (max-width: $tablet-portrait-max) {
		display: inline;
	}
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
}

a:target {
	outline: 0;
}

img,
picture {
	max-width: 100%;
	display: block;
}

@mixin clearfix {
	&:after {
		clear: both;
		content: " ";
		display: block;
	}
}

hr {
	margin: 3rem 0;
	border: 0;
	border-bottom: 2px var(--lighter-gray) solid;
}

.wrapper {
	box-sizing: border-box;
	padding: 3rem;
	@media screen and (max-width: $phone-portrait-max) {
		padding: 1.5rem;
	}
}

.content {
	background: var(--white);
	@media screen and (min-width: $tablet-landscape-min) {
		padding-left: $sidebar-width + 3rem;
	}
	max-width: 93rem;
	width: 100%;
	margin: 0 auto;
}

section,
.section {
	margin-bottom: 3rem;
}

.full-width {
	padding: 0;
}

.image-fill {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	img,
	picture {
		flex-shrink: 0;
		object-fit: cover;
		min-width: 100%;
		min-height: 100%;
	}
}

.ratio {
	position: relative;
	width: 100%;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.ratio > * {
	position: absolute;
}

.ratio-2_1:before {
	@extend .ratio;
	padding-top: 50%;
}

.ratio-16_9:before {
	@extend .ratio;
	padding-top: 56.25%;
}

.ratio-8_5:before {
	@extend .ratio;
	padding-top: 62.5%;
}

.ratio-3_2:before {
	@extend .ratio;
	padding-top: 66.67%;
}

.ratio-4_3:before {
	@extend .ratio;
	padding-top: 75%;
}

.ratio-1_1:before {
	@extend .ratio;
	padding-top: 100%;
}

.shadow {
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.hover-shadow {
	transform: translateY(-0.25rem);
	transition: $t;
	@extend .shadow;
}

.underline {
	text-decoration: underline;
	text-decoration-color: var(--medium-gray);
}

.nowrap {
	white-space: nowrap;
}

.corner-round {
	border-radius: 0.25rem;
}

::selection {
	background: var(--black);
	color: var(--light-gray);
}

button,
.button-link {
	display: flex;
	gap: 1rem;
	align-items: center;
	@extend .p;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 0.75rem 1.5rem;
	background: var(--lighter-gray);
	color: var(--black);
	border-radius: $corner-radius;
	transition: $t;
	span:last-of-type {
		margin-left: 1.5rem;
	}
	&:hover {
		background: var(--light-gray);
		transform: translateY(-4px);
		box-shadow: 0 4px 0 var(--light-gray);
	}
	&:active {
		transform: translateY(-2px);
		box-shadow: 0 2px 0 var(--light-gray);
	}
}

.hidden {
	display: none;
	opacity: 0;
	transition: $t;
}

.invisible {
	visibility: hidden;
}

svg {
	display: block;
}

select {
	@extend .p;
	background-color: var(--white);
	cursor: pointer;
	color: var(--medium-gray);
	outline: none;
	padding: 0.25rem;
	margin: 0 -0.25rem;
	border: none;
	border-radius: $corner-radius;
	transition: $t;
	&:hover {
		background: var(--lighter-gray);
		color: var(--black);
	}
	&:active {
		transform: translateY(-2px);
		box-shadow: 0 2px 0 var(--light-gray);
	}
}

select > option {
	@extend .p;
}

.circle-icon {
	padding: 0.75rem;
	margin: -0.75rem;
	border-radius: 50%;
	transition: $t;
	svg {
		width: 1.5rem;
		height: 1.5rem;
	}
	svg path {
		transition: $t;
		fill: var(--medium-gray);
	}
	@media screen and (max-width: $tablet-portrait-max) {
		padding: 0.5rem;
		margin: -0.5rem;
		svg {
			width: 1.25rem;
			height: 1.25rem;
		}
	}
}

.icon-link {
	display: flex;
	gap: 1rem;
	align-items: center;
	transition: $t;
	cursor: pointer;
	&:hover {
		color: var(--dark-gray);
		.circle-icon {
			background: var(--lighter-gray);
		}
		path {
			fill: var(--dark-gray);
		}
	}
}

.external-hover {
	p:after {
		content: " ↗";
		opacity: 0;
		transition: $t;
	}
	&:hover {
		p:after {
		opacity: 1;
		}
	}
}
