html:root {
	--black: #222222;
	--dark-gray: #555555;
	--medium-gray: #888888;
	--light-gray: #DDDDDD;
	--lighter-gray: #EEEEEE;
	--lightest-gray: #F7F7F7;
	--white: #FFFFFF;
}

html[data-theme='light'] {
	--black: #222222;
	--dark-gray: #555555;
	--medium-gray: #888888;
	--light-gray: #DDDDDD;
	--lighter-gray: #EEEEEE;
	--lightest-gray: #F7F7F7;
	--white: #FFFFFF;
}

html[data-theme='dark'] {
	--black: #FFFFFF;
	--dark-gray: #DDDDDD;
	--medium-gray: #BBBBBB;
	--light-gray: #777777;
	--lighter-gray: #555555;
	--lightest-gray: #333333;
	--white: #111111;
}

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #3DCC3D;
$red: #FF4C4C;

$green-transparent: rgba(61,204,61,.5);
$red-transparent: rgba(255,76,76,.5);


// Dark Mode
[data-theme='light'] .theme-toggle-dark,
[data-theme='dark'] .theme-toggle-light {
    display: none;
}

[data-theme='light'] .theme-toggle {
	p::before {
		content: "Light ";
	}
}

[data-theme='dark'] .theme-toggle {
	p::before {
		content: "Dark ";
	}
}

.theme-toggle:hover {
	p::before {
		content: "Switch "
	}
	.theme-toggle-light {
		background: rgba(255,235,128,0.4) !important;
	}
	.theme-toggle-dark {
		background: rgba(128,138,255,0.3) !important;
	}
}
