$black: #222222;
$dark-gray: #555555;
$medium-gray: #777777;
$light-gray: #DDDDDD;
$lighter-gray: #EEEEEE;
$lightest-gray: #F7F7F7;

$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #3DCC3D;
$red: #FF4C4C;

$green-transparent: rgba(61,204,61,.5);
$red-transparent: rgba(255,76,76,.5);
