.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
	.section-title {
		margin-bottom: 0;
	}
}

.section-title {
	margin-bottom: 3rem;
	cursor: text;
}

// posts grid

.card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3rem;
	transition: $t;
	picture, img, p, h3, h2, h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
	@media screen and (max-width: $desktop-max) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media screen and (max-width: $laptop-max) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: $tablet-landscape-max) {
		grid-template-columns: 1fr;
	}
	@media screen and (max-width: $tablet-portrait-max) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: $phone-landscape-max) {
		grid-template-columns: 1fr;
	}
}

.card-item {
	@extend .animate-together;
	.card-image {
		border-radius: $corner-radius;
		transition: $t;
	}
	.card-info {
		margin: 1.5rem 0 0 0;
	}
	.card-brief {
		@extend .p;
		transition: $t;
		color: var(--medium-gray);
	}
	.post-external {
		@extend .p;
		color: var(--medium-gray);
		opacity: 0;
		transition: $t;
	}
	&:hover {
		.card-image {
			@extend .hover-shadow;
		}
		.card-brief {
			color: var(--black);
			transition: $t;
		}
		.post-external {
			opacity: 1;
		}
	}
	&:active {
		.card-image {
			transform: translateY(-0.125rem);
			box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
		}
	}
}

.card-item-category-project {
	.card-image {
		@extend .image-fill;
		@extend .ratio-8_5;
	}
}

.card-item-category-talk a {
	@media screen and (max-width: $laptop-max) {
		display: flex;
		align-items: center;
		.card-info {
			margin: 0 0 0 1.5rem;
		}	
	}
	.card-image {
		@extend .image-fill;
		@extend .ratio-1_1;
		width: 6rem;
		height: 6rem;
		@media screen and (max-width: $laptop-max) {
			width: 4.5rem;
			height: 4.5rem;	
		}
	}
	h3:nth-of-type(2) {
		margin-bottom: 0rem;
		@extend .p;
	}
}

// teams

.team-active {
	color: var(--dark-gray) !important;
}

.card-grid-compact {
	row-gap: 2rem;
}

.compact-card a {
	display: flex;
	background: var(--lightest-gray);
	border-radius: $corner-radius;
	padding: 1rem;
	align-items: center;
	transition: $t;
	&:hover {
		@extend .hover-shadow;
		.card-secondary {
			color: var(--black);
		}
	}
	h3 {
		flex-grow: 1;
	}
	img,
	svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 1rem;
	}
}

.compact-card-medium img,
svg {
	width: 2rem;
	height: 2rem;
	border-radius: $corner-radius;
}

.card-secondary {
	color: var(--medium-gray);
	transition: $t;
}

.button-more {
	color: var(--dark-gray);
	margin-top: 3rem;
	&:hover {
		transform: translateY(4px);
		box-shadow: 0 -4px 0 var(--light-gray);
	}
	&::after {
		content: "⇣";
	}
	&:active {
		transform: translateY(8px);
		box-shadow: 0 -8px 0 var(--light-gray);
	}
}

.text-button {
	margin: -1rem 0;
	background-color: $transparent;
	color: var(--medium-gray);
}

.about-me {
	@extend .card-grid;

	margin-bottom: 3rem;
	figcaption {
		max-width: 39rem;
		@media screen and (min-width: $desktop-min) {
			grid-column: span 2;
		}
		p {
			margin-bottom: 0.5rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	@media screen and (max-width: $tablet-portrait-max) {
		grid-template-columns: 1fr;
	}

}

.card-item-category-team {
	@extend .animate-together;
	@for $team1 from 1 through $limit-teams {
		&:nth-child(#{$team1}) {
			animation-delay: 100ms * $team1 - 100ms;
		}
	}
	@for $team2 from calc($limit-teams + 1) through 16 {
		&:nth-child(#{$team2}) {
			animation-delay: 100ms * $team2 - $limit-teams * 100ms;
		}
	}

	@media screen and (min-width: $laptop-min) {
		&:nth-child(5), &:nth-child(6) {
			display: block;
			opacity: 1;
		}
	}
	@media screen and (min-width: $tablet-portrait-min) {
		&:nth-child(4) {
			display: block;
			opacity: 1;
		}
	}
	@media screen and (min-width: $phone-portrait-min) {
		&:nth-child(3) {
			display: block;
			opacity: 1;
		}
	}

}

.card-item-category-project {
	@extend .animate-together;
	@for $project1 from 1 through $limit-projects {
		&:nth-child(#{$project1}) {
			animation-delay: 100ms * $project1;
		}
	}
	@for $project2 from 13 through 32 {
		&:nth-child(#{$project2}) {
			animation-delay: 100ms * $project2 - 12 * 100ms;
		}
	}
	@media screen and (min-width: $laptop-min) {
		&:nth-child(n+13):nth-child(-n+24) {
			display: block;
			opacity: 1;
		}
		@for $project3 from calc($limit-projects + 1) through 32 {
			&:nth-child(#{$project3}) {
				animation-delay: 100ms * $project3 - $limit-projects * 100ms;
			}
		}	
	}
}

.card-item-category-talk {
	@extend .animate-together;
	@for $team1 from 1 through $limit-talks {
		&:nth-child(#{$team1}) {
			animation-delay: 100ms * $team1;
		}
	}
	@for $team2 from 5 through 32 {
		&:nth-child(#{$team2}) {
			animation-delay: 100ms * $team2 - 4 * 100ms;
		}
	}
	@media screen and (min-width: $laptop-min) {
		&:nth-child(n+5):nth-child(-n+6) {
			display: block;
			opacity: 1;
		}
		@for $talk3 from calc($limit-projects + 1) through 32 {
			&:nth-child(#{$talk3}) {
				animation-delay: 100ms * $talk3 - $limit-projects * 100ms;
			}
		}	
	}

}

.section-lists .compact-card {
	svg {
		fill: var(--black)
	}
	@extend .animate-together;
	@for $list1 from 1 through 6 {
		&:nth-child(#{$list1}) {
			animation-delay: 100ms * $list1;
		}
	}
}

.section-contact .compact-card {
	@extend .animate-together;
	@for $contact1 from 1 through 32 {
		&:nth-child(#{$contact1}) {
			animation-delay: 100ms * $contact1;
		}
	}
}

[data-theme='dark'] .dark-contact {
	svg path {
		fill: var(--dark-gray);
	}
}
