
.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
	.section-title {
		margin-bottom: 0;
	}
	button {
		margin: -1rem 0;
		background-color: $transparent;
		color: $medium-gray;
	}
}
.section-title {
	margin-bottom: 3rem;
	cursor: text;
}

// posts grid

.card-grid {
	opacity: 1;
	position: relative;
	width: 100%; 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	gap: 3rem;
	transition: $t;
	picture, p, h3, h2, h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
	@media screen and (max-width: $tablet-landscape-max) {
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	}
	@media screen and (max-width: $tablet-portrait-max) {
		grid-template-columns: repeat(auto-fit, minmax(1fr));
	}
}

.card-item {
	@extend .animate-together;
	.card-image {
		border-radius: $corner-radius;
		transition: $t;
	}
	.card-brief {
		@extend .p;
		transition: $t;
		color: $medium-gray;
	}
	.post-external {
		@extend .p;
		color: $medium-gray;
		opacity: 0;
		transition: $t;
	}
	&:hover {
		.card-image {
			@extend .hover-shadow;
		}
		.card-brief {
			color: $black;
			transition: $t;
		}
		.post-external {
			opacity: 1;
		}
	}
	&:active {
		.card-image {
			transform: translateY(-0.125rem);
			box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
		}
	}
}

.card-item-category-project {
	.card-image {
		margin-bottom: 1.5rem;
		@extend .image-fill;
		@extend .ratio-8_5;
	}

	.card-info {
		padding-right: 0.25rem;
	}
}

.card-item-category-talk a {
	align-items: start;
	@media screen and (max-width: $laptop-max) {
		display: flex;
		align-items: center;
	}
	&:hover .card-image {
		transform: none;
	}
	.card-image {
		@extend .image-fill;
		@extend .ratio-1_1;
		width: 4.5rem;
		height: 4.5rem;
		margin: 0 0 1.5rem;
		@media screen and (max-width: $laptop-max) {
			margin: 0 1.5rem 0 0;
			width: 3rem;
			height: 3rem;	
		}
	}
	h3:nth-of-type(2) {
		margin-bottom: 0rem;
		@extend .p;
	}
}

// teams

.team-active {
	color: $dark-gray !important;
}

.card-grid-compact {
	row-gap: 2rem;
	// grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.compact-card a {
	display: flex;
	background: $lightest-gray;
	border-radius: $corner-radius;
	padding: 1rem;
	align-items: center;
	transition: $t;
	&:hover {
		@extend .hover-shadow;
		.card-secondary {
			color: $black;
		}
	}
	h3 {
		flex-grow: 1;
	}
	img,
	svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 1rem;
	}
}

.compact-card-medium img,
svg {
	width: 2rem;
	height: 2rem;
	border-radius: $corner-radius;
}

.card-secondary {
	color: $medium-gray;
	transition: $t;
}

.button-more {
	color: $dark-gray;
	margin-top: 3rem;
	&::after {
		content: "⇣";
		margin-left: 1rem;
	}
}

.about-me {
	display: grid;
	gap: 6rem;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 3rem;
	@media screen and (max-width: $tablet-landscape-max) {
		grid-template-columns: 1fr;
		gap: 3rem;
	}
	picture {
		width: 100%;
	}
	p {
		@media screen and (min-width: $laptop-min) {
			margin-left: -3rem;
		}
		margin-bottom: 1rem;
		max-width: 39rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.card-item-category-team {
	@extend .animate-together;
	@for $team1 from 1 through $limit-teams {
		&:nth-child(#{$team1}) {
			animation-delay: 100ms * $team1 - 100ms;
		}
	}
	@for $team2 from calc($limit-teams + 1) through 16 {
		&:nth-child(#{$team2}) {
			animation-delay: 100ms * $team2 - $limit-teams * 100ms;
		}
	}

	@media screen and (min-width: $laptop-min) {
		&:nth-child(5), &:nth-child(6) {
			display: block;
			opacity: 1;
		}
	}
	@media screen and (min-width: $tablet-portrait-min) {
		&:nth-child(4) {
			display: block;
			opacity: 1;
		}
	}
	@media screen and (min-width: $phone-portrait-min) {
		&:nth-child(3) {
			display: block;
			opacity: 1;
		}
	}

}

.card-item-category-project {
	@extend .animate-together;
	@for $project1 from 1 through $limit-projects {
		&:nth-child(#{$project1}) {
			animation-delay: 100ms * $project1;
		}
	}
	@for $project2 from calc($limit-projects + 1) through 32 {
		&:nth-child(#{$project2}) {
			animation-delay: 100ms * $project2 - $limit-projects * 100ms;
		}
	}
}

.card-item-category-talk {
	@extend .animate-together;
	@for $team1 from 1 through $limit-talks {
		&:nth-child(#{$team1}) {
			animation-delay: 100ms * $team1;
		}
	}
	@for $team2 from calc($limit-talks + 1) through 32 {
		&:nth-child(#{$team2}) {
			animation-delay: 100ms * $team2 - $limit-talks * 100ms;
		}
	}
}

.section-lists .compact-card {
	@extend .animate-together;
	@for $list1 from 1 through 6 {
		&:nth-child(#{$list1}) {
			animation-delay: 100ms * $list1;
		}
	}
}

.section-contact .compact-card {
	@extend .animate-together;
	@for $contact1 from 1 through 32 {
		&:nth-child(#{$contact1}) {
			animation-delay: 100ms * $contact1;
		}
	}
}
