$flip-phone-max: 320px;
$small-phone-max: 360px;
$phone-portrait-min: 361px;
$phone-portrait-max: 480px;
$phone-landscape-min: 481px;
$phone-landscape-max: 640px;
$tablet-portrait-min: 641px;
$tablet-portrait-max: 834px;
$tablet-landscape-min: 835px;
$tablet-landscape-max: 976px;
$laptop-min: 977px;
$laptop-max: 1280px;
$desktop-min: 1281px;
$desktop-max: 1440px;
$xl-desktop-min: 1441px;
$xl-desktop-max: 1920px;
$xxl-desktop-max: 2560px;
$xxxl-desktop-min: 2561px;

@media screen and (min-width: $xxxl-desktop-min) {
	html, body {
		font-size: 22px;
	}
}

@media screen and (max-width: $xxl-desktop-max) {
	html, body {
		font-size: 20px;
	}
}

@media screen and (max-width: $xl-desktop-max) {
	html, body {
		font-size: 18px;
	}
}

@media screen and (max-width: $desktop-max) {
	html, body {
		font-size: 16px;
	}
}

@media screen and (min-width: $tablet-landscape-min) {
	.tablet-mobile-only {
		display: none !important;
	}
}

@media screen and (max-width: $tablet-portrait-max) {
	.hide-tablet {
		display: none !important;
	}

}

@media screen and (min-width: $tablet-portrait-min) {
	.mobile-only {
		display: none !important;
	}
}

@media screen and (max-width: $phone-landscape-max) {
	.hide-mobile {
		display: none !important;
	}
}

@media screen and (max-width: $phone-portrait-max) {
	html, body {
		font-size: 15px;
	}
}

@media screen and (max-width: $small-phone-max) {
	html, body {
		font-size: 14px;
	}
}

@media screen and (max-width: $flip-phone-max) {
	html, body {
		font-size: 13px;
	}
}
